<% if isCollection then%>
    <ul>
      <% @doctor_whos.each do |doctor_who| %>
          <li><h5>Character: <%= doctor_who.character %> | Quote: <%= doctor_who.quote %></h5></li>
      <% end %>
    </ul>
<% else %>
    <h5>Character: <%= @doctor_who.character %> | Quote: <%= @doctor_who.quote %></h5>
<% end %>