<!--Samuel L. Ipsum http://slipsum.com/-->
<h2>Uuummmm, this is a tasty burger!</h2>
<ul>
  <li><%= link_to "12 Lizards", lizards_path(12) %></li>
  <li><%= link_to "444 Lizards", lizards_path(444) %></li>
  <li><%= link_to "9672 Lizards", lizards_path(9672) %></li>
</ul>